@page "/cadastroAviso"
@using Newtonsoft.Json;
@using OcWebSp.Data.Models;

<h3 class="my-2">Cadastro de Avisos</h3>
<div class="row">
    <EditForm Model="@cadastroAvisoForm" OnSubmit="@SubmitCadastroAviso">
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <label>Data:</label>
                </div>
                <div class="col-4">
                    <input @bind="cadastroAvisoForm.Data" class="form-control" type="date" />
                </div>
            </div>
        </div>
        <div class="col-12 my-4">
            <div class="row">
                <div class="col-2">
                    <label>Titulo:</label>
                </div>
                <div class="col-8">
                    <input @bind="cadastroAvisoForm.Titulo" class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <div class="row align-items-start">
                <div class="col-2 align-items-center">
                    <label>Texto Aviso:</label>
                </div>
                <div class="col-8">
                    <textarea @bind="cadastroAvisoForm.Aviso" class="form-control" style="height:200px" rows="6" />
                </div>
                <div class="col-2">
                    <label>Imagem:</label>
                    <img src="imagemSelecionada" class="img-fluid" />
                </div>
            </div>

        </div>
        <div class="col-12 my-4">
            <div class="row align-items-center">
                <div class="col-2">
                    <p>Tipo:</p>
                </div>
                <div class="col-8">
                    <div class="form-control d-flex justify-content-evenly" style="height:100%">
                        <InputRadioGroup Name="tipo" @bind-Value="cadastroAvisoForm.Tipo">
                            <div>
                                <InputRadio Value="TipoAviso.Geral">Geral</InputRadio>
                            </div>
                            <div>
                                <InputRadio Value="TipoAviso.Curso">Por Curso</InputRadio>
                            </div>
                            <div>
                                <InputRadio Value="TipoAviso.Turma">Por Turma</InputRadio>
                            </div>
                        </InputRadioGroup>
                    </div>
                </div>

                <div class="col-2">
                    <InputFile OnChange="GetFileImage" class="btn btn-primary w-100">Upload Imagem</InputFile>

                    <button type="submit" class="btn btn-success w-100 mt-2">Salvar</button>
                </div>

                @if (cadastroAvisoForm.Tipo == TipoAviso.Turma)
                {
                    <div class="row">
                        <div class="col-2">
                            <label>Curso:</label>
                        </div>
                        <div class="col-8">
                            <select class="form-select" @bind="cadastroAvisoForm.IdCurso">
                                @foreach (var curso in listaCursos)
                                {
                                    <option class="form-control" value="@curso.Id" selected>@curso.Nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-2">
                            <label>Turma:</label>
                        </div>
                        <div class="col-8">
                            <select class="form-select" @bind="cadastroAvisoForm.IdTurma">
                                @foreach (var turma in listaTurmas)
                                {
                                    <option value="@turma.Id" selected>@turma.CodTurma</option>
                                }
                            </select>
                        </div>

                    </div>
                }
                @if (cadastroAvisoForm.Tipo == TipoAviso.Curso)
                {
                    <div class="row">
                        <div class="col-2">
                            <label>Curso:</label>
                        </div>
                        <div class="col-8">
                            <select class="form-select" @bind="cadastroAvisoForm.IdCurso">
                                @foreach (var curso in listaCursos)
                                {
                                    <option class="form-control" value="@curso.Id" selected="@curso.Id == 4">@curso.Nome</option>
                                }
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
    </EditForm>
</div>

@code {
    public List<Turmas> listaTurmas;
    public List<Cursos> listaCursos;
    public string imagemSelecionada;
    private DateTime dataAviso = DateTime.Now;

    protected async override Task OnInitializedAsync()
    {
        listaTurmas = await GetListaTurmas();
        listaCursos = await GetListaCursos();
    }

    CadastroAvisoForm cadastroAvisoForm = new CadastroAvisoForm { Data = DateTime.Now };

    private void TiposChecked()
    {
        StateHasChanged();
    }

    private async void SubmitCadastroAviso()
    {
        if (cadastroAvisoForm.Data.Date < DateTime.Now.Date)
        {
            cadastroAvisoForm.Data = DateTime.Now;
            StateHasChanged();
        }
        else
        {
            if (string.IsNullOrEmpty(cadastroAvisoForm.Titulo))
            {
                //exibir aviso de campo incorreto
            }
            else
            {
                if (string.IsNullOrEmpty(cadastroAvisoForm.Aviso))
                {
                    //exibir aviso de campo incorreto
                }
                else
                {

                    HttpClient client = new HttpClient();
                    if (cadastroAvisoForm.Tipo == TipoAviso.Geral)
                    {
                        cadastroAvisoForm.IdCurso = null;
                        cadastroAvisoForm.IdTurma = null;
                    }
                    else
                    {
                        if (cadastroAvisoForm.Tipo == TipoAviso.Curso)
                        {
                            cadastroAvisoForm.IdCurso = cadastroAvisoForm.IdCurso;
                            cadastroAvisoForm.IdCurso = null;
                        }
                    }

                    var json = JsonConvert.SerializeObject(cadastroAvisoForm);
                    var content = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
                    var retorno = await client.PostAsync("https://localhost:7013/api/avisos", content);
                    //Salva Aviso

                }
            }
        }
    }

    private async Task GetFileImage(InputFileChangeEventArgs e)
    {
        var file = e.File;

        var dados = file.OpenReadStream();

        using var memoryStream = new MemoryStream();

        await file.OpenReadStream().CopyToAsync(memoryStream);
        var bytes = memoryStream.ToArray();
        var base64 = Convert.ToBase64String(bytes);
        imagemSelecionada = $"data:{file.ContentType};base64,{base64}";
        cadastroAvisoForm.Image = $"data:{file.ContentType};base64,{base64}";
        StateHasChanged();
        //if (file != null)
        //{
        //    var base64 = Convert.ToBase64String(file);
        //}
    }

    private async Task<List<Turmas>> GetListaTurmas()
    {
        HttpClient client = new HttpClient();
        return await client.GetFromJsonAsync<List<Turmas>>("https://localhost:7013/api/Turmas");
    }

    private async Task<List<Cursos>> GetListaCursos()
    {
        HttpClient client = new HttpClient();
        return await client.GetFromJsonAsync<List<Cursos>>("https://localhost:7013/api/Cursos");
    }
}
